streamlit
pandas
pdfplumber
python-docx
pytesseract
phonenumbers
pandas
spacy
pillow
mysql-connector-python
mysql.connector
pymysql
snowflake-connector-python
sqlalchemy
pytesseract 
pillow 
skillNer
flask